{
  "$schema": "https://json.schemastore.org/swcrc",
  "jsc": {
    "baseUrl": "./",
    "parser": {
      "syntax": "typescript",
      "tsx": false,
      "decorators": true,
      "dynamicImport": true
    },
    "target": "es2021",
    "loose": false,
    "preserveAllComments": false,
    "minify": {
      "compress": true,
      "mangle": true
    },
    "paths": {
      "config/*": ["./src/config/*"],
      "controllers/*": ["./src/controllers/*"],
      "errors/*": ["./src/errors/*"],
      "middlewares/*": ["./src/middlewares/*"],
      "modelSchemas": ["./src/modelSchemas/index.ts"],
      "routes/*": ["./src/routes/*"],
      "schemas/*": ["./src/schemas/*"],
      "services/*": ["./src/services/*"],
      "types/*": ["./src/types/*"],
      "utils/*": ["./src/utils/*"]
    }
  },
  "module": {
    "type": "commonjs",
    "strict": true,
    "strictMode": true,
    "noInterop": false
  },
  "minify": true
}
