<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>NoodeJS + Sequelize + SQLite</title>
</head>
<body>
    <h1>Добавление пользователя</h1>
    <form id ="form" method="post">
        <h2>Имя</h2>
        <input name="name" type="text"><br><br>
        <h2>Возраст</h2>
        <input name="age" type="number"><br><br>
        <h2>Курс</h2>
        <input name="course" type="number"><br>
        <input type="submit" value="Отправить" />
        <a href="/">К списку пользователей</a>
    </form>
    <script>
        const form = document.querySelector("#form");

        form.addEventListener("submit", (e) => {
            console.log(`POST: name/${form.name.value}\nage${form.age.value}\ncourse${form.course.value}`)
        })
    </script>
</body>
</html>